.advantages-content__post {
  margin: 0;
  padding: 0;

  &--blue-background {
    background-color: $color-seagull;

    &:nth-child(1) {
      clip-path: polygon(50% 3%, 100% 0, 100% 100%, 0 100%, 0 0);

      @media (min-width: $vp-768) {
        clip-path: none;
      }
    }
  }

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: 1fr 2fr;
  }

  &:nth-of-type(2) {
    @media (min-width: $vp-768) {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.advantages-content__specification {
  padding: 48px 18px 39px 18px;

  @media (min-width: $vp-768) {
    padding: 52px 33px 31px 33px;
  }

  @media (min-width: $vp-1200) {
    padding: 52px 50px 51px 50px;
  }

  &--order-reverse {
    padding: 39px 18px 37px 18px;

    @media (min-width: $vp-768) {
      order: 1;
      padding: 53px 18px 31px 18px;
    }
  }
}

.advantages-content__list {
  margin: 0;
  padding: 32px 18px 44px 18px;

  list-style: none;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 0;

    gap: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages-content__item {
  position: relative;

  padding: 0 0 0 47px;

  @media (min-width: $vp-768) {
    padding: 156px 37px 62px 37px;
  }

  @media (min-width: $vp-1200) {
    padding: 169px 50px 70px 50px;
  }

  &--home::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;

    width: 40px;
    height: 40px;

    background-image: url("../img/stack.svg#icon-home");
    background-repeat: no-repeat;

    @media (min-width: $vp-768) {
      top: 59px;
      left: 50%;

      width: 79px;
      height: 73px;

      transform: translate(-50%) scaleX(1.04);
    }

    @media (min-width: $vp-1200) {
      top: 68px;
      left: 50%;

      width: 82px;
      height: 74px;

      transform: translate(-50%);
    }
  }

  &--food::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;

    width: 40px;
    height: 40px;

    background-image: url("../img/stack.svg#icon-burger");
    background-repeat: no-repeat;

    @media (min-width: $vp-768) {
      top: 60px;
      left: 50%;

      width: 84px;
      height: 70px;

      transform: translate(-50%);
    }

    @media (min-width: $vp-1200) {
      top: 72px;
      left: 50%;

      width: 73px;
      height: 68px;

      transform: translate(-50%) scaleY(1.07);
    }
  }

  &--souvenirs::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;

    width: 40px;
    height: 40px;

    background-image: url("../img/stack.svg#icon-gift");
    background-repeat: no-repeat;

    @media (min-width: $vp-768) {
      top: 62px;
      left: 50%;

      width: 70px;
      height: 77px;

      background-size: 73px 75px;
      transform: translate(-50%) scaleX(1.04);
    }

    @media (min-width: $vp-1200) {
      top: 69px;
      left: 50%;

      width: 77px;
      height: 75px;

      transform: translate(-50%) scaleX(1.22);
    }
  }
}

.advantages-content__item:not(:last-child) {
  margin-bottom: 33px;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.advantages-content__heading {
  margin: 0 0 16px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin: 0 0 23px 0;

    font-size: 21px;
    text-align: center;
  }
}

.advantages-content__definition {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: $color-night-rider;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    text-align: center;
  }

  br {
    display: none;

    @media (min-width: $vp-768) {
      display: block;
    }
  }
}

.advantages-content__title {
  margin: 0 0 11px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 216px;
    margin: 0 auto 14px auto;

    font-size: 21px;
    line-height: 26px;
  }

  br {
    display: none;

    @media (min-width: $vp-768) {
      display: block;
    }
  }
}

.advantages-content__description {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 190px;
    margin: 0 auto;
  }

  @media (min-width: $vp-1200) {
    max-width: 290px;
  }

  br {
    display: none;

    @media (min-width: $vp-1200) {
      display: block;
    }
  }
}

.advantages-content__counter {
  margin: 0 0 17px 0;

  @media (min-width: $vp-768) {
    margin: 0 0 23px 0;
  }

  &--white-text {
    color: $color-default-white;
  }
}

.advantages-content__images {
  display: block;
  width: 100%;
  min-height: 100%;

  @media (min-width: $vp-768) {
    max-height: 256px;
  }
}

.advantages-content__privileage-list {
  margin: 0;
  padding: 24px 18px 28px 18px;

  list-style: none;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 0;

    grid-template-columns: repeat(3, 1fr);
  }

  &--whisper-background {
    background-color: $color-whisper;
  }
}

.advantages-content__privileage-item {
  margin: 0 14px 49px 14px;

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $vp-768) {
      margin-bottom: 42px;
    }

    @media (min-width: $vp-1200) {
      margin-bottom: 53px;
    }
  }

  @media (min-width: $vp-768) {
    margin: 41px 33px 42px 33px;
  }

  @media (min-width: $vp-1200) {
    margin: 52px 50px 53px 50px;
  }
}

.advantages-content__privileage-title {
  margin: 0 0 11px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 159px;
    margin: 0 auto 13px auto;

    font-size: 21px;
  }
}

.advantages-content__privileage-description {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $color-night-rider;
  text-transform: uppercase;

  br {
    display: none;

    @media (min-width: $vp-768) {
      display: block;
    }
  }
}

.advantages-content__privileage-counter {
  margin: 0 0 17px 0;

  color: $color-night-rider;

  @media (min-width: $vp-768) {
    margin: 0 0 23px 0;
  }
}
