.advantages-content__post {
  margin: 0;
  padding: 0;
}

.advantages-content__specification {
  padding: 37px 18px;
}

.advantages-content__list {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.advantages-content__title {
  margin: 0 0 11px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
}

.advantages-content__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
}

.advantages-content__counter {
  margin: 0 0 17px 0;
}

.advantages-content__images {
  width: 100%;
  display: block;
}

.advantages-content__counter--white-text {
  color: $color-default-white;
}

.advantages-content__post--blue-background {
  background-color: $color-seagull;
}
