.button {
  display: block;
  padding: 16px 49px;

  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: $ff-ptsans;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-seagull;
  border: none;
  cursor: pointer;

  &--error {
    display: block;
    width: 100%;
    max-width: 180px;
    margin: 0 auto;
    padding: 18px 64px 14px 63px;

    font-size: 18px;
    line-height: 26px;

    @media (min-width: $vp-768) {
      max-width: 272px;

      font-size: 21px;
    }
  }

  &--success {
    position: relative;

    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 18px 48px 14px 50px;

    font-size: 18px;
    line-height: 26px;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: -20px;
      z-index: -1;

      width: calc(100% + 40px);
      height: calc(100% + 40px);

      background-color: $color-white-smoke;

      @media (min-width: $vp-768) {
        top: -44px;
        left: -91px;

        width: calc(100% + 182px);
        height: calc(100% + 88px);
      }
    }

    @media (min-width: $vp-768) {
      font-size: 21px;
    }
  }

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    color: rgba($color-default-white, 0.3);

    background-color: $color-shakespeare2;
  }

  &:focus-visible {
    background-color: $color-air-force-blue;
    border: none;
    outline: none;
  }

  &:disabled {
    color: $color-default-white;

    background-color: $color-whisper3;

    pointer-events: none;
  }
}
