.custom-field {
  cursor: pointer;
}

.custom-field__text {
  display: inline-flex;
  align-items: center;
  padding: 0 0 0 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.custom-field__input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;

  background-color: $color-white-smoke;

  &--radio {
    position: relative;

    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }
}

.custom-field__input[type="radio"]:checked + .custom-field__input-icon::before {
  content: "";
  position: absolute;

  display: block;
  width: 16px;
  height: 16px;

  background-color: $color-night-rider;
  border-radius: 50%;
}

.custom-field__input[type="checkbox"]:checked + .custom-field__input-icon::before {
  content: "";
  position: absolute;

  width: 22px;
  height: 16px;

  background-image: url("../img/svg/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.custom-field:hover .custom-field__input-icon {
  background-color: $color-whisper3;
}

.custom-field:active .custom-field__input-icon {
  background-color: $color-light-gray;
}

.custom-field:active .custom-field__input-icon::before {
  opacity: 0.3;
}

.custom-field__input:focus-visible + .custom-field__input-icon {
  outline: 4px solid $color-seagull;
  outline-offset: 2px;
}

.custom-field[disabled] {
  outline: none;
  cursor: not-allowed;
  opacity: 0.3;

  pointer-events: none;
}
