.form {
  padding: 0 20px 15px 20px;

  @media (min-width: $vp-768) {
    display: grid;
    margin: 0 60px 64px 60px;
    padding: 0;
    overflow: hidden;

    column-gap: 58px;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $vp-1200) {
    margin: 0 120px 63px 120px;

    column-gap: 99px;
  }
}

.form__rating-list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 0 36px;

    gap: 12px;
  }

  @media (min-width: $vp-1200) {
    padding: 17px 12px 17px 53px;

    gap: 28px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.form__rating-item:nth-child(2) {
  @media (min-width: $vp-768) {
    grid-column: 2;
  }
}

.form__rating-item:not(:last-child) {
  margin: 0 0 12px 0;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.form__label {
  display: inline-flex;
}

.form__attraction-list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 0 84px;

    gap: 11px 32px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1200) {
    padding: 31px 45px;

    gap: 16px 64px;
    grid-template-columns: 172px 170px 153px 184px;
  }
}

.form__attraction-item:not(:last-child) {
  margin: 0 0 11px 0;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.form__attraction-item:nth-child(2) {
  @media (min-width: $vp-768) {
    grid-column: 2;
  }
}

.form__fieldset {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;

  &::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -20px;

    width: 100vw;
    height: 1px;

    background-color: $color-whisper3;
  }

  &:not(:nth-child(1)):not(:nth-child(2)) .form__title::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 50vw;
      height: 1px;

      background-color: $color-whisper3;
      transform: translate(-100%, -50%);
    }
  }

  &:not(:nth-child(1)):not(:nth-child(2)) .form__title::after {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;

      width: 50vw;
      height: 1px;

      background-color: $color-whisper3;
      transform: translate(100%, -50%);
    }
  }

  &:nth-child(1) {
    margin: 0 0 64px 0;

    @media (min-width: $vp-768) {
      margin: 0 0 63px 0;
      padding: 0;
    }

    @media (min-width: $vp-1200) {
      margin: 0 0 70px 0;
      padding: 0;
    }
  }

  &:nth-child(1)::before {
    @media (min-width: $vp-768) {
      display: none;
    }
  }

  &:nth-child(2) {
    margin: 0 0 59px 0;

    @media (min-width: $vp-768) {
      margin: 0 0 63px 0;
      padding: 0;
    }

    @media (min-width: $vp-1200) {
      margin: 0 0 70px 0;
      padding: 0;
    }
  }

  &:nth-child(2)::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      top: 0;
      left: -29px;

      width: 1px;
      height: calc(100% + 6px);

      background-color: $color-whisper3;
    }

    @media (min-width: $vp-1200) {
      top: 0;
      left: -49px;

      height: calc(100% + 6px);
    }
  }

  &:nth-child(3) {
    margin: 0 0 43px 0;

    @media (min-width: $vp-768) {
      padding: 0;

      grid-column: 1/ span 2;
    }

    @media (min-width: $vp-1200) {
      margin: 0 0 52px 0;

      grid-column: 1/ span 2;
    }
  }

  &:nth-child(4) {
    margin: 0 0 44px 0;

    @media (min-width: $vp-768) {
      margin: 0 0 38px 0;
      padding: 0;

      grid-column: 1/span 2;
    }

    @media (min-width: $vp-1200) {
      margin: 0 0 51px 0;
    }
  }

  &:nth-child(5) {
    margin: 0 0 56px 0;

    @media (min-width: $vp-768) {
      margin: 0 0 48px 0;

      grid-column: 1/span 2;
    }

    @media (min-width: $vp-1200) {
      margin: 0 96px 48px 96px;
    }
  }

  &:nth-child(3)::before,
  &:nth-child(4)::before,
  &:nth-child(5)::before {
    @media (min-width: $vp-768) {
      display: none;
    }

    @media (min-width: $vp-1200) {
      width: calc(20% + 96px);
    }
  }

  &:nth-child(3)::after,
  &:nth-child(4)::after,
  &:nth-child(5)::after {
    @media (min-width: $vp-768) {
      display: none;
    }

    @media (min-width: $vp-1200) {
      width: calc(20% + 96px);
    }
  }

  &:nth-child(3) .form__title,
  &:nth-child(4) .form__title,
  &:nth-child(5) .form__title {
    @media (min-width: $vp-768) {
      max-width: 402px;
      margin: 0 auto 28px auto;
    }

    @media (min-width: $vp-1200) {
      max-width: 400px;
      margin: 0 auto 28px auto;
    }
  }
}

.form__title {
  position: relative;

  margin: 0 0 20px 0;
  padding: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $color-default-black;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin: 0 0 28px 0;

    font-size: 21px;
  }
}

.form__field:not(:last-child) {
  margin: 0 0 16px 0;
}

.form__button-wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-column: 1/ span 2;
  }

  @media (min-width: $vp-1200) {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }
}

.form__submit-button {
  width: 100%;
  margin: 0 0 3px 0;
  padding: 16px 33px;

  @media (min-width: $vp-768) {
    max-width: 324px;
    margin: 0;
  }

  @media (min-width: $vp-1200) {
    max-width: 384px;
  }
}

.form__footnote {
  display: flex;
  justify-content: flex-end;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: rgba($color-night-rider, 0.6);
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    align-self: flex-start;
    margin-top: 22px;

    font-size: 14px;
  }
}
