.greetings {
  position: relative;

  background-color: $color-default-black;
  background-image: url("../img/greetings/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/greetings/back-mobile@2x.jpg");
  }

  @media (min-width: $vp-768) {
    background-image: url("../img/greetings/back-tablet.jpg");

    clip-path: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/greetings/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $vp-1200) {
    background-image: url("../img/greetings/back-desktop.jpg");

    clip-path: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/greetings/back-desktop@2x.jpg");
    }
  }

  &--index {
    padding: 90px 19px 85px 19px;

    @media (min-width: $vp-768) {
      padding: 77px 154px 91px 153px;
    }

    @media (min-width: $vp-1200) {
      padding: 78px 370px 90px 370px;
    }
  }

  &--inner {
    padding: 52px 46px 67px 45px;

    background-position: bottom;

    @media (min-width: $vp-768) {
      padding: 95px 46px 117px 45px;
    }

    @media (min-width: $vp-1200) {
      padding: 101px 371px 120px 369px;
    }
  }

  &::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;

      width: 100%;
      height: 57px;

      background-image: url("../img/svg/intro-triangle-pc.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.greetings__image {
  display: block;
  margin: 0 auto;

  &--index {
    @media (min-width: $vp-768) {
      width: 461px;
      height: 350px;
    }
  }

  &--inner {
    @media (min-width: $vp-768) {
      width: 457px;
      height: 78px;
    }
  }
}
