.greetings {
  position: relative;

  background-color: $color-default-black;
  background-image: url("../img/greetings/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/greetings/back-mobile@2x.jpg");
  }

  @media (min-width: $vp-768) {
    background-image: url("../img/greetings/back-tablet.jpg");

    &::before {
      @media (min-width: $vp-768) {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;

        width: 100%;
        height: 58px;

        background-image: url("../img/stack.svg#icon-intro-triangle");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1200px;
      }
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/greetings/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $vp-1200) {
    background-image: url("../img/greetings/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/greetings/back-desktop@2x.jpg");
    }
  }

  &--index {
    padding: 90px 19px 85px 19px;

    clip-path: polygon(0 0, 100% 0, 100% 93%, 50% 100%, 0 93%);

    @media (min-width: $vp-768) {
      padding: 77px 154px 91px 153px;

      clip-path: none;
    }

    @media (min-width: $vp-1200) {
      padding: 78px 370px 90px 370px;

      clip-path: none;
    }
  }

  &--inner {
    padding: 52px 46px 67px 45px;

    background-position: bottom;

    clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 100%, 0 84%);

    @media (min-width: $vp-768) {
      padding: 95px 46px 117px 45px;

      clip-path: none;
    }

    @media (min-width: $vp-1200) {
      padding: 101px 371px 120px 369px;

      clip-path: none;
    }
  }
}

.greetings__image {
  display: block;
  margin: 0 auto;

  &--index {
    @media (min-width: $vp-768) {
      width: 461px;
      height: 350px;
    }
  }

  &--inner {
    @media (min-width: $vp-768) {
      width: 459px;
      height: 78px;
    }
  }
}
