.main-footer {
  display: flex;
  flex-direction: column;
  padding: 33px 82px 33px 82px;

  gap: 30px;

  @media (min-width: $vp-768) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }
}

.main-footer__hashtag {
  display: block;

  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.main-footer__social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 6px;

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

.main-footer__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  background-color: $color-seagull;

  &--vk::before {
    content: "";
    position: absolute;

    width: 24px;
    height: 14px;

    background-color: $color-default-white;
    background-repeat: no-repeat;

    mask-image: url("../img/sprite.svg#vk-icon");
  }

  &--telegram::before {
    content: "";
    position: absolute;

    width: 22px;
    height: 18px;

    background-color: $color-default-white;
    background-repeat: no-repeat;

    mask-image: url("../img/sprite.svg#telegram-icon");
  }

  &--youtube::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 14px;

    background-color: $color-default-white;
    background-repeat: no-repeat;

    mask-image: url("../img/sprite.svg#youtube-icon");
  }

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    background-color: $color-shakespeare2;
  }

  &:active::before {
    opacity: 0.3;
  }

  &:focus-visible {
    background-color: $color-air-force-blue;
    outline: none;
  }
}

.main-footer__copyright-wrapper {
  padding: 0 14px;

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.main-footer__copyright {
  display: flex;

  text-decoration: none;

  gap: 11px;

  @media (min-width: $vp-768) {
    padding: 0;

    gap: 12px;
  }

  &:hover .main-footer__copyright-text,
  &:hover .main-footer__copyright-logo {
    color: $color-seagull;
  }

  &:active .main-footer__copyright-text,
  &:active .main-footer__copyright-logo {
    color: $color-pink-swan;
  }

  &:focus-visible .main-footer__copyright-text,
  &:focus-visible .main-footer__copyright-logo,
  &:focus-visible {
    color: $color-air-force-blue;

    border: none;
    outline: none;
  }
}

.main-footer__copyright-logo {
  color: $color-default-black;

  background-repeat: no-repeat;

  mask-image: url("../img/sprite.svg#copyright-icon");
}

.main-footer__copyright-text {
  display: inline-flex;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $color-default-black;
  text-transform: uppercase;
}
