.main-footer {
  display: flex;
  flex-direction: column;
  padding: 33px 82px 33px 82px;

  gap: 30px;

  @media (min-width: $vp-768) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }

  &__hashtag {
    display: block;

    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
  }

  &__social {
    display: flex;
    flex-wrap: wrap;

    gap: 6px;

    @media (min-width: $vp-768) {
      display: grid;

      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__copyright-wrapper {
    padding: 0 14px;

    @media (min-width: $vp-768) {
      padding: 0;
    }
  }

  &__copyright {
    display: flex;

    text-decoration: none;

    gap: 11px;

    @media (min-width: $vp-768) {
      padding: 0;

      gap: 12px;
    }
  }

  &__copyright-text {
    display: inline-flex;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-default-black;
    text-transform: uppercase;
  }
}
