.media-cards {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  &__content {
    margin: 0 0 16px 0;

    @media (min-width: $vp-768) {
      margin: 0;
    }
  }

  &__item {
    margin: 0 0 50px 0;

    @media (min-width: $vp-768) {
      margin: 0;
    }

    &--full {
      grid-column: 1/span 2;
    }
  }

  &__post {
    margin: 0;
  }

  &__title {
    align-items: center;
    margin: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__author {
    align-items: center;
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-night-rider;
  }

  &__link {
    display: block;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__counter {
    align-items: center;
    padding: 0 0 0 37px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__specification {
    padding: 15px 0 0 0;

    @media (min-width: $vp-768) {
      display: flex;
      justify-content: space-between;
      padding: 22px 20px 15px 20px;

      background-color: $color-white-smoke;
    }
  }
}
