.media-cards {
  @include reset-list;
}

.media-cards__post {
  margin: 0;
}

.media-cards__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
}

.media-cards__author {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  color: $color-night-rider;
}

.media-cards__counter {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
}
