.media-content {
  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.media-content__heading {
  margin: 0 0 61px 0;

  @media (min-width: $vp-768) {
    margin: 0 0 81px 0;
    padding: 0 106px;
  }

  @media (min-width: $vp-1200) {
    margin: 0;
    padding: 100px 378px 89px 376px;
  }
}
