.media-cards {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $vp-1200) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

.media-cards__content {
  margin: 0 0 7px 0;

  @media (min-width: $vp-768) {
    margin: 0;
  }

  @media (min-width: $vp-1200) {
    display: flex;
    flex-direction: column;

    gap: 4px;
  }
}

.media-cards__item {
  position: relative;

  margin: 0 0 51px 0;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $vp-768) {
    margin: 0;

    &:not(.media-cards__item--full):nth-child(odd) .media-cards__specification {
      background-color: $color-whisper2;

      @media (min-width: $vp-1200) {
        background-color: rgba($color-default-black, 0.3);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -20px;

    width: 100vw;
    height: 1px;

    background-color: $color-whisper3;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  &--full {
    grid-column: 1/span 2;

    @media (min-width: $vp-1200) {
      grid-column: 1/span 3;
    }
  }

  &:last-child::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: -20px;

    width: 100vw;
    height: 1px;

    background-color: $color-whisper3;

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.media-cards__post {
  margin: 0;

  @media (min-width: $vp-768) {
    position: relative;

    display: flex;
    height: 100%;
    padding-top: 267px;
  }

  @media (min-width: $vp-1200) {
    padding-top: 187px;
  }

  &--paddings {
    @media (min-width: $vp-768) {
      padding-top: 400px;
    }

    @media (min-width: $vp-1200) {
      padding-top: 321px;
    }
  }
}

.media-cards__title {
  align-items: center;
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: $vp-1200) {
    color: $color-default-white;
  }
}

.media-cards__author {
  align-items: center;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-night-rider;

  @media (min-width: $vp-1200) {
    color: $color-default-white;
  }
}

.media-cards__link {
  display: block;

  transition: 0.2s ease;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &:hover {
    .media-cards__image {
      transform: scale(1.03);
    }
  }

  &:active {
    opacity: 0.8;
  }

  &:focus-visible {
    border: none;
    outline: none;
    opacity: 0.7;
  }
}

.media-cards__image {
  display: block;
  width: 100%;

  transition: transform 0.3s ease;

  @media (min-width: $vp-768) {
    object-fit: contain;
  }

  @media (min-width: $vp-1200) {
    min-height: 100%;

    object-fit: cover;
  }
}

.media-cards__likes-wrapper {
  display: inline-flex;
  align-self: start;

  gap: 14px;

  @media (min-width: $vp-768) {
    gap: 10px;
  }

  @media (min-width: $vp-1200) {
    gap: 9px;
  }
}

.media-cards__button {
  flex-shrink: 0;
  width: 23px;
  height: 21px;
  padding: 0;

  background-color: $color-default-black;
  background-repeat: no-repeat;
  background-size: 23px 21px;
  border: none;
  cursor: pointer;
  opacity: 0.3;

  mask-image: url("../img/stack.svg#icon-like");

  &:hover {
    opacity: 0.6;
  }

  &:active {
    background-color: $color-roman-coffee;
    opacity: 0.3;

    @media (min-width: $vp-1200) {
      background-color: $color-light-gray;
    }
  }

  &:focus-visible {
    background-color: $color-air-force-blue;
    outline: none;
    opacity: 1;

    @media (min-width: $vp-1200) {
      background-color: $color-gorse;
    }
  }

  @media (min-width: $vp-768) {
    margin-top: 6px;
  }

  @media (min-width: $vp-1200) {
    margin-top: 10px;

    background-color: $color-default-white;
    opacity: 1;
  }
}

.media-cards__counter {
  margin-top: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-top: 9px;
  }

  @media (min-width: $vp-1200) {
    margin-top: 13px;

    color: $color-default-white;
  }
}

.media-cards__specification {
  padding: 15px 0 0 0;

  @media (min-width: $vp-768) {
    z-index: 1;

    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 23px 20px 15px 20px;

    background-color: $color-white-smoke;

    gap: 30px;

    @media (min-width: $vp-1200) {
      background-color: rgba($color-default-black, 0.3);
    }
  }

  @media (min-width: $vp-1200) {
    position: relative;
    z-index: 1;

    padding: 18px 20px 16px 25px;
  }

  &--padding {
    @media (min-width: $vp-1200) {
      padding: 20px 20px 13px 20px;
    }
  }
}
