.search-hotels {
  max-width: 580px;
  margin: 0 auto;
  padding: 38px 18px 49px 18px;

  @media (min-width: $vp-768) {
    max-width: 100%;
    margin: 0;
    padding: 60px 155px 56px 155px;
  }

  @media (min-width: $vp-1200) {
    padding: 61px 371px 66px 371px;
  }
}

.search-hotels__heading {
  margin: 0 0 32px 0;

  @media (min-width: $vp-768) {
    margin: 0 0 44px 0;
  }
}

.search-hotels__button:not([href]) {
  color: $color-default-white;

  background-color: $color-whisper3;

  pointer-events: none;
}
