.services {
  margin: 0;
  padding: 18px 23px 46px 23px;

  list-style: none;

  &__item {
    padding: 0 0 0 47px;
  }

  &__title {
    margin: 0 0 16px 0;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: $color-night-rider;
    text-transform: uppercase;
  }
}
