.services {
  margin: 0;
  padding: 23px 18px 46px 18px;

  list-style: none;

  @media (min-width: $vp-768) {
    padding: 0;
  }

  &__item {
    padding: 0 0 0 47px;

    @media (min-width: $vp-768) {
      padding: 158px 33px 60px 33px;
    }

    @media (min-width: $vp-1200) {
      padding: 169px 50px 69px 50px;
    }
  }

  &__title {
    margin: 0 0 16px 0;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;

    @media (min-width: $vp-768) {
      text-align: center;
    }
  }

  &__description {
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: $color-night-rider;
    text-transform: uppercase;

    @media (min-width: $vp-768) {
      text-align: center;
    }
  }
}
