.site-nav {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: $color-seagull;

  &__link {
    display: block;
    padding: 17px 60px 12px 60px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: $color-default-white;
    text-transform: uppercase;
    text-decoration: none;
  }

  &--hide {
    display: none;
  }
}
