.social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  background-color: $color-seagull;

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    background-color: $color-shakespeare2;
  }

  &:active .social__icons {
    opacity: 0.3;
  }

  &:focus-visible {
    background-color: $color-air-force-blue;
    outline: none;
  }
}

.social__icons {
  &--vk {
    background-repeat: no-repeat;

    mask-image: url("../img/sprite.svg#vk-icon");
  }

  &--telegram {
    background-repeat: no-repeat;

    mask-image: url("../img/sprite.svg#telegram-icon");
  }

  &--youtube {
    background-repeat: no-repeat;

    mask-image: url("../img/sprite.svg#youtube-icon");
  }
}
