.social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  background-color: $color-seagull;
}

.social-logo {
  fill: $color-default-white;
}

.social__link:hover {
  background-color: $color-shakespeare;
}

.social__link:active {
  background-color: $color-shakespeare2;
}

.social__link:active .social-logo {
  fill: rgba($color-default-white, 0.3);
}

.social__link:focus-visible {
  background-color: $color-air-force-blue;
  outline: none;
}
