.text-field {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0 0 0 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-night-rider;
    text-transform: uppercase;
  }

  &__input {
    width: 100%;
    padding: 16px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    font-family: $ff-ptsans;

    background-color: $color-white-smoke;
    border: none;

    &::placeholder {
      color: rgba($color-default-black, 0.3);
    }
  }

  &__input--resize-non {
    resize: none;
  }
}
