.text-field {
  display: flex;
  flex-direction: column;
}

.text-field__title {
  margin: 0 0 0 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-night-rider;
  text-transform: uppercase;
}

.text-field__input {
  width: 100%;
  padding: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $ff-ptsans;

  background-color: $color-white-smoke;
  border: none;
  cursor: pointer;

  &::placeholder {
    color: rgba($color-default-black, 0.3);

    opacity: 1;
  }

  &--resize-non {
    resize: none;
  }

  &--tel {
    padding: 16px 74px 16px 16px;

    background-image: url("../img/png/phone-icon.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  &--mail {
    padding: 16px 74px 16px 16px;

    background-image: url("../img/png/mail-icon.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  &:hover {
    background-color: $color-whisper3;
  }

  &:active {
    background-color: $color-default-white;
    border: none;
    outline: none;
    box-shadow: inset 4px 4px 0 0 $color-whisper3, inset -4px -4px 0 0 $color-whisper3;
  }

  &:focus-visible {
    background-color: $color-default-white;
    border: none;
    outline: none;
    box-shadow: inset 4px 4px 0 0 $color-whisper3, inset -4px -4px 0 0 $color-whisper3;
  }


  &:disabled {
    background-color: $color-whisper3;
    cursor: not-allowed;
    opacity: 0.3;

    pointer-events: none;
  }
}
