.video-player {
  position: relative;
  &__image {
    display: block;
    width: 100%;
  }

  &__control {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 48px;
    height: 54px;

    background-color: rgba($color-default-white, 0.7);
    transform: translate(-50%, -50%);

    clip-path: polygon(100% 50%, 0 0, 0 100%);
  }
}
