.video-content {
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: $vp-768) {
    padding-bottom: 40px;
  }

  @media (min-width: $vp-1200) {
    padding: 0 201px 84px 199px;
  }
}

.video-content__heading {
  margin: 0 0 38px 0;
  padding: 0 6px;

  @media (min-width: $vp-768) {
    margin: 0 0 66px 0;
    padding: 0 102px;
  }

  @media (min-width: $vp-1200) {
    margin: 0 0 64px 0;
    padding: 0 169px;
  }
}
