.video-content {
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: $vp-768) {
    padding-bottom: 40px;
  }

  &__heading {
    margin: 0 0 38px 0;
    padding: 0 6px;

    @media (min-width: $vp-768) {
      margin: 0 0 66px 0;
    }
  }
}
