//colors
$color-default-white:           #ffffff;
$color-default-black:           #000000;
$color-night-rider:             #333333;
$color-seagull:                 #81b3d2;
$color-white-smoke:             #f2f2f2;
$color-roman-coffee:            #766357;
$color-whisper:                 #eeeeee;

//шрифты
$ff-ptsans:                     "PT Sans", "Arial", sans-serif;
