//colors
$color-default-white:           #ffffff;
$color-default-black:           #000000;
$color-night-rider:             #333333;
$color-seagull:                 #81b3d2;
$color-placeholder:             rgba(0, 0, 0, 0.3);
$color-white-smoke:             #f2f2f2;
$color-roman-coffee:            #766357;
$color-whisper:                 #eeeeee;
$color-footnote:                rgba(51, 51, 51, 0.6);

//шрифты
$ff-ptsans:                     "PT Sans", sans-serif;
